*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
}
body{
  height: 100%;
  background: wheat;
}

#main{
  height: 100%;
  display: flex;
  flex-direction: row;
}
#menu{
  background: violet;
  flex: 250px;
}
#content{
  background: skyblue;
  flex:100%
}